# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Python cache files
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Specific directories and files
admin/__pycache__/
codigo/__pycache__/


