{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="hero">
    <!-- Background Grid -->
    <!-- <div class="hero-grid-bg"></div> -->
    <!-- Floating Cards -->
    <div class="hero-floating-elements d-none d-lg-flex">
        <div class="hero-floating-card card-tl"><img src="{% static 'images/first-card.png' %}" alt="Card 1">
        </div>
        <div class="hero-floating-card card-bl"><img src="{% static 'images/second-card.png' %}" alt="Card 2">
        </div>
        <div class="hero-floating-card card-tr"><img src="{% static 'images/third-card.png' %}" alt="Card 3">
        </div>
        <div class="hero-floating-card card-br"><img src="{% static 'images/forth-card.png' %}" alt="Card 4">
        </div>
    </div>

    <div class="container-fluid">
        <div class="hero-center">
            <div class="hero-badge-wrap">
                <div class="hero-badge">
                    <span class="badge-avatar">
                        <img src="{% static 'images/hero-group-img.png' %}" alt="Client">
                    </span>
                    <span class="badge-text">Trusted by 50+ fast-scaling startups</span>
                </div>
            </div>

            <h1 class="hero-title">
                <span class="text-orange">Automate</span> operations and <span class="text-orange">build
                </span> scalable systems for <span class="text-orange">growing businesses</span>
            </h1>
            <p class="hero-sub mobile-spacing">
                We design and build systems that reduce manual work, improve decision-making, <br>and scale your
                operations.
            </p>
            <div class="schedule-call-footer">

                <a class="btn-cm-cta btn-pill" href="{% url 'schedule-call' %}">
                    <span class="label-up">Book a Strategy Call</span>
                    <span class="label-up">Book a Strategy Call</span>
                    <!-- <span class="label-up">Book a 15 min call</span>
                    <span class="label-up">Book a 15 min call</span> -->
                </a>
                <a class="btn-secondary-cm" href="{% url 'portfolio' %}">
                    <span class="label-up">View Case Studies</span>
                    <span class="label-up">View Case Studies</span>
                </a>
            </div>
            <!-- <div class="hero-cta-wrap">
                <a class="btn-cm-cta btn-pill" href="{% url 'schedule-call' %}">
                    <span class="label-up">Let’s start a conversation</span>
                    <span class="label-up">Let’s start a conversation</span>
                
                </a>
            </div> -->
        </div>
        <div class="hero-subtitle-wrap">Trusted by teams building operations-heavy products</div>
        <div class="marquee-track" dir="ltr">
            <!-- Set 1 -->
            {%for industry in industries%}
            <a href="{% url 'industry_detail' slug=industry.slug %}" class="marquee-item text-decoration-none">
                {{industry.svg_icon|safe}}
                {{ industry.name }}
            </a>
            {%endfor%}
            {%for industry in industries%}
            <a href="{% url 'industry_detail' slug=industry.slug %}" class="marquee-item text-decoration-none">
                {{industry.svg_icon|safe}}
                {{ industry.name }}
            </a>
            {%endfor%}
        </div>
    </div>
</section>


<!-- ══════════════════════════════════
     SERVICES SECTION
══════════════════════════════════ -->
<section class="services-section">
    <div class="container text-center">
        <div class="hero-badge-wrap">
            <div class="primary-badge">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                    <path
                        d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                        fill="#F05D35" />
                    <path
                        d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                        fill="#F16535" />
                </svg>
                Services
            </div>
        </div>

        <div class="heading-text-container service-heading-new-container">
            <h2 class="sub-heading-new">From Manual Workflows to Intelligent Systems</h2>
            <p class="sub-pera-new">
                We don’t just build software—we design systems that eliminate inefficiencies, reduce manual<br> work,
                and
                help your business scale faster.
            </p>
        </div>

        <!-- <div class="row g-4 text-start services-row-new" style="margin-bottom: 30px;">
            {% for service in services %}
            <div class="col-lg-3 mb-1">
                <div class="service-card-wrapper h-100">
                    <div class="service-card-new service-card-new-mobile">
                        <div class="service-top">
                            <div class="service-icon-box">
                                <img loading="lazy" src="{{ service.icon }}" alt=""> -->
        <!-- <i class="{{ service.icon }} text-orange"></i>
                            </div>

                            <h5 class="service-title">{{ service.name }}</h5>

                            <p class="service-desc">
                                {{ service.description }}
                            </p>
                        </div>

                        <div class="service-mockup">
                            {% if service.cover_image %}
                            <img loading="lazy" src="{{ service.cover_image.url }}" alt="{{ service.name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> -->

        <div class="row g-4 text-start services-row-new" style="margin-bottom: 30px;">

            {% for service in services %}

            <div class="col-lg-3 mb-1">

                <a href="{% url 'service-details-slug' slug=service.slug %}?type=index"
                    class="text-decoration-none text-reset">

                    <div class="service-card-wrapper h-100">

                        <div class="service-card-new service-card-new-mobile">

                            <div class="service-top">

                                <div class="service-icon-box">
                                    <i class="{{ service.icon }} text-orange"></i>
                                </div>

                                <h5 class="service-title">
                                    {{ service.name }}
                                </h5>

                                <p class="service-desc">
                                    {{ service.description }}
                                </p>

                            </div>

                            <div class="service-mockup">

                                {% if service.cover_image %}
                                <img loading="lazy" src="{{ service.cover_image.url }}" alt="{{ service.name }}">
                                {% endif %}

                            </div>

                        </div>

                    </div>

                </a>

            </div>

            {% endfor %}

        </div>
        <div class="text-center mt-5">
            <a href="{% url 'services' %}" class="btn btn-secondary-cm">
                <span class="label-up">Explore services</span>
                <span class="label-up">Explore services</span>
            </a>
        </div>
    </div>
</section>
<section class="how-we-work-sec">
    <div class="container">
        <div class="text-center mb-5">
            <div class="hero-badge-wrap">
                <div class="primary-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35" />
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535" />
                    </svg>
                    HOW WE WORK
                </div>
            </div>
            <div class="heading-text-container">
                <h2 class="sub-heading-new">Outcome-Driven delivery. Not hourly billing</h2>
                <p class="sub-pera-new">
                    We deliver results through focused, AI-powered pods not bloated teams.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-company-cm">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="130" viewBox="0 0 3 130" fill="none">
                            <line x1="1" y1="1" x2="1.00001" y2="129" stroke="#363636" stroke-width="2"
                                stroke-linecap="round" />
                            <line x1="1.5" y1="1.5" x2="1.5" y2="63.5" stroke="#F16535" stroke-width="3"
                                stroke-linecap="round" />
                        </svg>
                    </div>
                    <div>
                        <h5 class="service-title">MVP Launch Pod</h5>
                        <p class="service-desc">Launch your product in 4–8 weeks with a clear roadmap and execution.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-company-cm">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="130" viewBox="0 0 3 130" fill="none">
                            <line x1="1" y1="1" x2="1.00001" y2="129" stroke="#363636" stroke-width="2"
                                stroke-linecap="round" />
                            <line x1="1.5" y1="1.5" x2="1.5" y2="63.5" stroke="#F16535" stroke-width="3"
                                stroke-linecap="round" />
                        </svg>
                    </div>
                    <div>
                        <h5 class="service-title">Automation Pod</h5>
                        <p class="service-desc">Reduce operational workload and eliminate repetitive manual processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-company-cm">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="130" viewBox="0 0 3 130" fill="none">
                            <line x1="1" y1="1" x2="1.00001" y2="129" stroke="#363636" stroke-width="2"
                                stroke-linecap="round" />
                            <line x1="1.5" y1="1.5" x2="1.5" y2="63.5" stroke="#F16535" stroke-width="3"
                                stroke-linecap="round" />
                        </svg>
                    </div>
                    <div>
                        <h5 class="service-title">Growth Pod</h5>
                        <p class="service-desc">Continuously improve, optimize, and scale your systems.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row why-choose-cm">
            <div class="col-md-5">
                <div class="primary-badge" style="width: fit-content;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35" />
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535" />
                    </svg>
                    Why choose us
                </div>
                <div class="heading-text-container side-heading-container">
                    <h2 class="sub-heading-new">Real business impact</h2>
                    <ul>
                        <li> Reduce manual work by 30–50%</li>
                        <li> Launch products faster with lean teams </li>
                        <li>Improve operational visibility and decision-making</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="sideimg-col">
                    <img src="{%static 'images/why-choose-side-img.png'  %}" </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="text-center mb-5">
            <div class="hero-badge-wrap">
                <div class="primary-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35" />
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535" />
                    </svg>
                    INDUSTRIES
                </div>
            </div>
            <div class="heading-text-container">
                <h2 class="sub-heading-new">Built for industries where efficiency matters</h2>
                <p class="sub-pera-new">
                    We design systems that simplify operations, reduce manual work, and help teams move faster with
                    clarity.
                </p>
            </div>
        </div>
        <div class="Background-fixed-cm-col ">
            <div class="col-first row">
                <div class="col-md-4">
                    <div class="col-number-info">
                        <h6>
                            01
                        </h6>
                        <span></span>
                    </div>
                    <div class="heading-text-container text-align-start">
                        <h2 class="sub-heading-new" style="text-align: start;">Healthcare</h2>
                        <h5 class="service-title">Improving patient <span class="text-orange"> operations </span>
                            and <span class="text-orange">compliance</span></h5>
                        <p class="sub-pera-new" style="text-align: left;">We build systems that streamline patient
                            management, automate compliance workflows, and improve coordination across care teams.</p>
                        <ul>
                            <li> Reduce manual work by 30–50%</li>
                            <li> Launch products faster with lean teams </li>
                            <li>Improve operational visibility and decision-making</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <img class="industries-img" src="{% static 'images/industries-one.png'  %}" alt="">
                </div>
            </div>
            <div class="col-first row">
                <div class="col-md-6">
                    <img class="industries-img" src="{% static 'images/industries-three.png'  %}" alt="">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="col-number-info">
                        <h6>
                            02
                        </h6>
                        <span></span>
                    </div>
                    <div class="heading-text-container text-align-start">
                        <h2 class="sub-heading-new" style="text-align: start;">Logistics</h2>
                        <h5 class="service-title">Optimizing <span class="text-orange">operations </span> and
                            reducing <span class="text-orange"> inefficiencies </span></h5>
                        <p class="sub-pera-new" style="text-align: left;">We design platforms that bring visibility to
                            operations, streamline workflows, and improve delivery performance.</p>
                        <ul>
                            <li>Fleet and asset tracking</li>
                            <li>Warehouse management systems </li>
                            <li>Route planning and optimization</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-first row">
                <div class="col-md-4">
                    <div class="col-number-info">
                        <h6>
                            03
                        </h6>
                        <span></span>
                    </div>
                    <div class="heading-text-container text-align-start">
                        <h2 class="sub-heading-new" style="text-align: start;">Education</h2>
                        <h5 class="service-title">Simplifying institutional <span class="text-orange"> workflows </span>
                        </h5>
                        <p class="sub-pera-new" style="text-align: left;">We help institutions manage operations,
                            improve accessibility, and streamline internal systems.</p>
                        <ul>
                            <li>Learning management systems</li>
                            <li>Student management</li>
                            <li>Performance analytics</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <img class="industries-img" src="{% static 'images/industries-two.png'  %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ══════════════════════════════════
     STATS SECTION
══════════════════════════════════ -->
<!-- <section class="results-section">
    <div class="container text-center">
        <div class="hero-badge-wrap mb-4">
            <div class="primary-badge">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                    <path
                        d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                        fill="#F05D35" />
                    <path
                        d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                        fill="#F16535" />
                </svg>
                Why choose us
            </div>
        </div>
        <h2 class="display-heading">Delivering results that grow<br> your business</h2>

        <div class="grid-container">
            <div class="grid-item text-start">
                <div class="result-card">
                    <h3>50+</h3>
                    <h5>Satisfied clients</h5>


                    <p>From startups to enterprises, we combine strategy and execution to drive the right product
                        decisions.</p>
                </div>
            </div>
            <div class="grid-item text-start">
                <div class="result-card">
                    <h3>100+</h3>
                    <h5>Projects completed</h5>
                    <p>From MVPs to full-scale platforms, we deliver solutions on time and built to scale.</p>
                </div>
            </div>
            <div class="grid-item text-start">
                <div class="result-card">
                    <h3>10+</h3>
                    <h5>Years of experience</h5>
                    <p>A decade of experience building reliable software for global businesses.</p>
                </div>
            </div>
            <div class="grid-item text-start">
                <div class="result-card">
                    <h3>50+</h3>
                    <h5>In-house team members</h5>
                    <p>Skilled engineers, designers, and strategists working as your extended team.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- ══════════════════════════════════
     PORTFOLIO SECTION
══════════════════════════════════ -->
<section class="portfolio-section" id="portfolio-section">
    <div class="container">
        <div class="text-center mb-5">
            <div class="hero-badge-wrap">
                <div class="primary-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35" />
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535" />
                    </svg>
                    Portfolio
                </div>
            </div>
            <h2 class="display-heading mt-3">See how we turn ideas into <br> real results</h2>
        </div>

        <div class="portfolio-list">
            <!-- Project 1 -->
            {% for case in case_studies %}
            <div class="portfolio-card-refined">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="project-mockup-side">
                            <img loading="lazy" src="{{ case.cover_image.url }}" alt="{{ case.title }}"
                                class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="project-content-side">
                            <h3 class="project-title">{{ case.project_name }}</h3>
                            <p class="project-description">
                                {{ case.content }}
                            </p>

                            <h4>Solution</h4>
                            <p class="project-description">
                                {{ case.solution|safe}}
                            </p>

                            <!-- <div class="project-meta-grid">
                                <div class="meta-item">
                                    <h4>Solution</h4>
                                    <p class="project-description">
                                        {{ case.description|safe}}
                                    </p> -->
                            <!-- <ul>
                                        {% for service in case.services.all %}
                                        <li>{{ service.name }}</li>
                                        {% endfor %}
                                        </ul>
                                </div>
                                <div class="meta-item">
                                    <h4>Industry</h4>
                                    <span class="meta-value">
                                        {% for industry in case.industries.all %}
                                        {{ industry.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="meta-item">
                                    <h4>Timeline</h4>
                                    <span class="meta-value">{{ case.timeline }}</span>
                                </div>
                            </div> -->
                            <!-- <a href="{{ case.url }}" target="_blank" class="btn btn-secondary-cm"> -->
                            <a href="{% url 'case_study_detail' case.pk %}" class="btn btn-secondary-cm">
                                <span class="label-up">Visit case study</span>
                                <span class="label-up">Visit case study</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ══════════════════════════════════
            TESTIMONIALS
        ══════════════════════════════════ -->


<section class="testimonials-section">
    <div class="container">
        <div class="text-center">
            <div class="hero-badge-wrap">
                <div class="primary-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35"></path>
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535"></path>
                    </svg>
                    Testimonials
                </div>
            </div>
            <h2 class="display-heading mt-3 testimonials-section-cm-heading">Let’s hear what
                our business <br>partners
                say</h2>
            <p class="section-subtext mx-auto mb-0" style="max-width: 600px;">
                We build long-term partnerships by delivering work that actually makes a difference.
            </p>
        </div>
        <div class="row g-4 testimonials-v2-grid">
            <div class="col-lg-4 d-flex flex-column gap-4">
                {% for t in testimonials|slice:":2" %}
                {% if t.media_type == 'video' %}
                <div class="testimonial-video-card">
                    <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?auto=format&fit=crop&q=80&w=600&h=800"
                        alt="Video Review" class="video-preview-img">
                    <div class="video-overlay">
                        <!-- <a href="#" class="btn-video-review">
                            <i class="bi bi-play-fill me-2"></i>Watch video review
                        </a> -->
                    </div>
                </div>
                {% else %}
                <div class="testimonial-card-v2 {% if forloop.first %}first-card-t{% else %}second-card-t{% endif %}">
                    <p class="t-quote">{{ t.message }}</p>
                    <div class="t-footer">
                        <div class="t-profile">
                            <img src="{{ t.client_image.url }}" alt="{{ t.client_name }}" class="t-avatar"
                                loading="lazy">
                            <div class="t-user-info">
                                <span class="t-name">{{ t.client_name }}</span>
                                <span class="t-role">{{ t.client_designation }}</span>
                            </div>
                        </div>
                        <div class="t-company-logo">
                            <div class="up-logo-badge">
                                {% if t.platform_image %}
                                <img src="{{ t.platform_image.url }}" alt="Platform"
                                    style="width: 44px; height: 44px; object-fit: contain;">
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-4 d-flex flex-column gap-4">
                {% for t in testimonials|slice:"2:4" %}
                {% if t.media_type == 'video' %}
                <div class="testimonial-video-card">
                    <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?auto=format&fit=crop&q=80&w=600&h=800"
                        alt="Video Review" class="video-preview-img">
                    <div class="video-overlay">
                        <!-- <a href="#" class="btn-video-review">
                            <i class="bi bi-play-fill me-2"></i>Watch video review
                        </a> -->
                    </div>
                </div>
                {% else %}

                <div class="testimonial-card-v2 {% if forloop.first %}third-card-t{% else %}fourth-card-t{% endif %}">
                    <p class="t-quote">{{ t.message }}</p>
                    <div class="t-footer">
                        <div class="t-profile">
                            <img src="{{ t.client_image.url }}" alt="{{ t.client_name }}" class="t-avatar"
                                loading="lazy">
                            <div class="t-user-info">
                                <span class="t-name">{{ t.client_name }}</span>
                                <span class="t-role">{{ t.client_designation }}</span>
                            </div>
                        </div>
                        <div class="t-company-logo">
                            <div class="up-logo-badge">
                                {% if t.platform_image %}
                                <img src="{{ t.platform_image.url }}" alt="Platform"
                                    style="width: 44px; height: 44px; object-fit: contain;">
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-4 d-flex flex-column gap-4">
                {% for t in testimonials|slice:"4:6" %}

                {% if t.media_type == 'video' %}
                <div class="testimonial-video-card">
                    <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?auto=format&fit=crop&q=80&w=600&h=800"
                        alt="Video Review" class="video-preview-img">
                    <div class="video-overlay">
                        <!-- <a href="#" class="btn-video-review">
                            <i class="bi bi-play-fill me-2"></i>Watch video review
                        </a> -->
                    </div>
                </div>
                {% else %}
                <div class="testimonial-card-v2 {% if forloop.first %}fifth-card-t{% else %}second-card-t{% endif %}">
                    <p class="t-quote">{{ t.message }}</p>
                    <div class="t-footer">
                        <div class="t-profile">
                            <img src="{{ t.client_image.url }}" alt="{{ t.client_name }}" class="t-avatar"
                                loading="lazy">
                            <div class="t-user-info">
                                <span class="t-name">{{ t.client_name }}</span>
                                <span class="t-role">{{ t.client_designation }}</span>
                            </div>
                        </div>
                        <div class="t-company-logo">
                            <div class="up-logo-badge">
                                {% if t.platform_image %}
                                <img src="{{ t.platform_image.url }}" alt="Platform"
                                    style="width: 44px; height: 44px; object-fit: contain;">
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
</section>


<!-- ══════════════════════════════════
                 INSIGHTS SECTION
            ══════════════════════════════════ -->
<!-- <section class="insights-section">
    <div class="container">
        <div class="text-center">
            <div class="hero-badge-wrap">
                <div class="primary-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path
                            d="M11.5 6.5C11.5 6.5 11.1317 10.3846 12.67 11.895C14.1868 13.3843 18 13 18 13C18 13 14.0968 13.0922 12.67 14.7556C11.4276 16.204 11.5 19.5 11.5 19.5C11.5 19.5 11.3338 16.1726 10.005 14.7556C8.58811 13.2447 5 13 5 13C5 13 8.51659 13.2334 10.005 11.895C11.6307 10.4332 11.5 6.5 11.5 6.5Z"
                            fill="#F05D35"></path>
                        <path
                            d="M5 0C5 0 4.7167 2.98814 5.9 4.15C7.06678 5.29564 10 5 10 5C10 5 6.99755 5.07093 5.9 6.35045C4.94427 7.46464 5 10 5 10C5 10 4.87219 7.44047 3.85 6.35045C2.76008 5.18822 0 5 0 5C0 5 2.70507 5.17951 3.85 4.15C5.10054 3.02553 5 0 5 0Z"
                            fill="#F16535"></path>
                    </svg>
                    Resources
                </div>
            </div>
            <h2 class="display-heading mt-3 testimonials-section-cm-heading">Insights for founders building <br>something real</h2>
            <p class="section-subtext mx-auto mb-0" style="max-width: 600px; color: rgba(255,255,255,0.6);">
               Practical ideas, lessons, and strategies to help you build, scale, and grow smarter.
            </p>
        </div>
        <div class="row g-4 insights-section-cm-row case-study-slider">
            {% for insight in insights %}
            <div class="col-lg-4">
                <div class="insight-card h-100" style="max-height: 100%;">
                    <div class="insight-img">
                        <img loading="lazy" src="{{ insight.image.url }}" alt="{{ insight.title }}" class="img-fluid">
                    </div>
                    <div class="insight-body">
                        <div>
                            <h3 class="insight-title">{{ insight.title }}</h3>
                            <p class="insight-desc">{{ insight.content|truncatechars:150 }}</p>
                        </div>
                        <div class="insight-footer">
                            <div class="insight-author">
                                <img loading="lazy" src="{{ insight.author.image.url }}" alt="{{ insight.author.name }}"
                                    class="author-img">
                                <span class="author-name">{{ insight.author.name }}</span>
                            </div>
                            <div class="read-time-pill">{{ insight.read_time_minutes }} min Read</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section> -->


<!-- ══════════════════════════════════
                 CTA SECTION REDESIGNED
            ══════════════════════════════════ -->
<section class="cta-refined-section">
    <div class="container">
        <div class="cta-refined-box">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="cta-title-refined">Let’s build something great together</h1>
                    <p class="cta-subtitle-refined">Partner with us to build scalable digital products and systems that
                        drive efficiency, innovation, and long-term growth.</p>
                    <a href="{% url 'contact' %}" class="btn-cta-refined">
                        <span class="label-up">Get in touch</span>
                        <span class="label-up">Get in touch</span>
                    </a>
                </div>
                <div class="col-lg-5">
                    <div class="tech-stack-container">
                        <img src="{% static 'images/orange-cn.png' %}" alt="Tech Stack">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block JavaScript %}
<script>

    window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
            // Page loaded from back/forward cache
            localStorage.removeItem("schedule_call_date");
            localStorage.removeItem("schedule_call_display_date");
            localStorage.removeItem("schedule_call_time");
            localStorage.removeItem("schedule_call_display_time_range");
        }
    });

    $(function () {
        $('.marquee-track').slick({
            autoplay: true,
            autoplaySpeed: 0,
            speed: 5000,
            arrows: false,
            swipe: false,
            slidesToShow: 5.5,
            cssEase: 'linear',
            pauseOnFocus: false,
            pauseOnHover: false,
            ltr: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1.7
                    }
                }
            ]
        });
    });

    $(document).ready(function () {
        function initCaseStudySlider() {
            if ($(window).width() <= 767) {
                if (!$('.case-study-slider').hasClass('slick-initialized')) {
                    $('.case-study-slider').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: true,
                        speed: 600,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 1500,
                        centerMode: false,
                        centerPadding: '0px'
                    });
                }
            } else {
                if ($('.case-study-slider').hasClass('slick-initialized')) {
                    $('.case-study-slider').slick('unslick');
                }
            }
        }

        initCaseStudySlider();

        $(window).on('resize', function () {
            initCaseStudySlider();
        });
    });



    // Custom scroll logic for .Background-fixed-cm-col has been removed to turn auto scrolling off
</script>

{% endblock JavaScript %}